* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(0, 0%, 100%);
    --blue-300: hsl(198, 98%, 44%); 
    --blue-1000: hsl(213, 97%, 25%); 
    --blue-700: hsl(204, 100%, 36%);
    --grey-200: hsl(216, 33%, 97%); 

    --text-primary: hsl(196, 100%, 5%);
    --text-white: hsl(0, 0%, 100%);
    --text-blue-300: hsl(198, 98%, 44%);
    --text-blue-700: hsl(204, 100%, 36%);
    --text-blue-1000: hsl(204, 100%, 36%);
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.container {
    --px: 48px;
    width: min(100%, 1190px);
    margin-inline: auto;
    padding-inline: var(--px);
}
@media screen and (max-width: 1024px) {
    
    .container {
        --px: 36px;
    }
}

@media screen and (max-width: 575px) {
    
    .container {
        --px: 24px;
    }
}

/* header */
header {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
}

header .container {
    min-height: 52px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header #menu {
    display: none;
}

/* logo */
header .logo {
    --w: 138px;
    width: var(--w);
}

header .logo img {
    width: var(--w);
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 5px;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 30px 26px 23px;
    margin: 0px 1px;
}

header nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--blue-700);
    opacity: 0;
    transition: opacity 300ms ease;
}

header nav ul li:hover::after {
    opacity: 1;
}

header nav ul li .icon {
    transition: rotate 300ms ease;
}

header nav ul li:hover .icon {
    rotate: -180deg;
}

header .auth_options {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .auth_options a, #menu {
    cursor: pointer;
    display: inline-block;
    width: 84px;
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border: 0.6px solid var(--blue-700);
    background-color: var(--primary);
    color: var(--text-blue-700);
    border-radius: 25px;
    padding-block: 12px;
}

header .auth_options a.signup {
    background-color: var(--blue-700);
    color: var(--text-white);
}

@media screen and (max-width: 1152px) {
    header .logo {
        width: 26px;
        overflow: hidden;
    }

    header #menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    header nav{
        display: none;
    }
    
    header .auth_options a.signup {
        display: none;
    }
}

/* hero section */

#hero .row-1 {
    position: relative;
    text-align: center;
    background-color: var(--blue-300);
    color: var(--text-white);
    overflow: hidden;
}

#hero .row-1 .content {
    position: relative;
    padding-top: 80px;
    z-index: 1;
}

#hero .row-1 .content h1 {
    font-size: 40px;
    font-weight: 400;
    padding-inline: 160px;
}

@media screen and (max-width: 1024px) {
    #hero .row-1 .content h1 {
        padding: 0;
    }
}

@media screen and (max-width: 752px) {
    #hero .row-1 .content h1 {
        font-size: 30px;
    }
}

#hero .row-1 .content a.signup, 
#hero .row-2 .content a.btn {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-wrap: nowrap;
    width: 100%;
    background-color: var(--primary);
    color: var(--text-blue-1000);
    border-radius: 25px;
    font-weight: 700;
}

#hero .row-1 .content a.signup {
    max-width: 320px;
    padding: 13px 24px;
    margin-block: 30px 5px;
}

#hero .row-1 .video-container {
    position: relative;
    width: 100%;
    height: 215px;
    z-index: 0;
}

#hero .row-1 .video-container video {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
}

#hero .row-1 .video-container video.mobile {
    display: none;
}

@media screen and (max-width: 769px) {
    #hero .row-1 .video-container {
        height: 200px;
    }
}

@media screen and (max-width: 575px) {
    
    #hero .row-1 .video-container {
        height: 250px;
    }

    #hero .row-1 .video-container video.mobile {
        display: block;
    }
    
    #hero .row-1 .video-container video.desktop {
        display: none;
    }
}

#hero .row-2 {
    background-color: var(--blue-1000);
    color: var(--text-white);
    padding-block: 30px;
}

#hero .row-2 .content {
    text-align: center;
}

#hero .row-2 .content p {
    font-weight: 300;
    font-size: 25px;
}

#hero .row-2 .content a.btn {
    max-width: 140px;
    font-size: 12px;
    padding: 11px 18px;
    margin: 20px 20px 0px;
}

@media screen and (max-width: 769px) {

    #hero .row-2 .content p span {
        display: none;
    }
}

/* Features */
#features .row:not(.row-odd) {
    background-color: var(--grey-200);
}

#features .row {
    padding: 40px 60px;
    overflow: hidden;
}

#features .row .container {
    display: flex;
    flex-wrap: nowrap;
}

#features .row-odd .container {
    flex-direction: row-reverse;
}

#features .row .container > div {
    padding-inline: 12px;
}

#features .row .container .content {
    align-self: center;
    width: 50%;
}

#features .row .container .content h2,
#brands .container h2 {
    color: var(--blue-300);
    font-size: 40px;
    font-weight: 400;
}

#features .row .container .content p {
    padding-top: 20px;
}

#features .row .container .content a,
#community .container .content a {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    max-width: 320px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--blue-700);
    border: 0.7px solid var(--blue-700);
    border-radius: 50px;
    padding: 12px 24px;
    margin-top: 20px;
}

#features .row .container img {
    width: 100%;
    height: auto;
    max-height: 350px;
}

@media screen and (max-width: 751px) {

    #features .row {
        padding-inline: 13px;
    }

    #features .row .container {
        flex-direction: column;
    }

    #features .row-odd .container {
        flex-direction: column-reverse;
    }

    #features .row .container .content {
        width: 100%;
        text-align: center;
    }

    #features .row .container .content h2,
    #brands .container h2 {
        font-size: 30px;
    }
    
    #features .row .container {
        text-align: center;
    }

    #features .row .container img {
        max-width: 350px;
        max-height: none;
    }
}

/* Brands */
#brands {
    padding-block: 60px;
}

#brands .container {
    text-align: center;
}

#brands .container h2 {
    margin-bottom: 30px;
}

#brands .container .images {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 30px;
}

#brands .container .images img {
    padding-inline: 12px;
}

@media screen and (max-width: 1024px) {
    #brands .container .images {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/* Community */
#community > div{
    background-color: var(--blue-300);
    color: var(--primary);
}

#community .container .content {
    width: 83%;
    text-align: center;
    padding: 60px 12px;
    margin: auto;
}

@media screen and (max-width: 751px) {
    #community .container .content {
        padding-block: 40px;
    }
}

@media screen and (max-width: 1024px) {
    #community .container .content {
        width: 100%;
    }
}

#community .container .content h2 {
    font-size: 34px;
    font-weight: 400;
}

#community .container .content a {
    background-color: var(--primary);
    color: var(--blue-700);
    border: none;
    padding: 13px 24px;
    margin-top: 30px;
}

#community .container .clock {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 5px;
    padding-bottom: 30px;
}

#community .container .clock .second {
    width: 62px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 41px;
    font-weight: 500;
    background-color: var(--primary);
    color: var(--text-primary);
    border-radius: 20px;
}

@media screen and (max-width: 956px) {
    #community .container .clock .second {
        width: 55px;
        height: 55px;
        font-size: 30px;
        border-radius: 15px;
    }
}

@media screen and (max-width: 767px) {
    #community .container .clock .second {
        width: 40px;
        height: 42px;
        font-size: 25px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 415px) {
    #community .container .clock .second {
        width: 36px;
        height: 52px;
        font-size: 32px;
        border-radius: 4px;
    }
}

/* Terms & Conditions */
#terms {
    padding-block: 40px;
}

#terms .content {
    font-weight: 400;
    line-height: 1.5;
}
