* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary: hsl(0, 0%, 100%);
    --blue-300: hsl(198, 98%, 44%); 
    --blue-1000: hsl(213, 97%, 25%); 
    --blue-700: hsl(204, 100%, 36%); 

    --text-primary: hsl(196, 100%, 5%);
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.container {
    width: min(100%, 1190px);
}

/* header */
header .container {
    --px: 48px;
    min-height: 52px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-inline: var(--px);
    margin-inline: auto;  
}

header #menu {
    display: none;
}

/* logo */
header .logo {
    --w: 138px;
    width: var(--w);
}

header .logo img {
    width: var(--w);
    height: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    gap: 5px;
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 30px 26px 23px;
    margin: 0px 1px;
}

header nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--blue-700);
    opacity: 0;
    transition: opacity 300ms ease;
}

header nav ul li:hover::after {
    opacity: 1;
}

header nav ul li .icon {
    transition: rotate 300ms ease;
}

header nav ul li:hover .icon {
    rotate: -180deg;
}

header .auth_options {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .auth_options a, #menu {
    display: inline-block;
    width: 84px;
    text-decoration: none;
    text-wrap: nowrap;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border: 0.6px solid var(--blue-700);
    color: var(--blue-700);
    border-radius: 25px;
    padding-block: 12px;
}

header .auth_options a.signup {
    background-color: var(--blue-700);
    color: var(--primary);
}

@media screen and (max-width: 1152px) {
    header .logo {
        width: 26px;
        overflow: hidden;
    }

    header #menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    header nav{
        display: none;
    }
    
    header .auth_options a.signup {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    
    header .container {
        --px: 36px;
    }
}

@media screen and (max-width: 575px) {
    
    header .container {
        --px: 24px;
    }
}

#hero {
    min-height: 100vh;
    background-color: var(--blue-300);
}
